[submodule "depends/goom-libs/src/goom/src/particles"]
	path = depends/goom-libs/src/goom/src/particles
	url = https://github.com/glk1001/Particles
[submodule "depends/goom-libs/src/goom/src/lsys"]
	path = depends/goom-libs/src/goom/src/lsys
	url = https://github.com/glk1001/LSys
